src/conf/xml-resources/web-service-references/BookingSOAP/wsdl/localhost_8080/TutorMe/BookingSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services/" name="BookingSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://Services/" schemaLocation="http://localhost:8080/TutorMe/BookingSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="cancelBooking">
<part name="parameters" element="tns:cancelBooking"/>
</message>
<message name="cancelBookingResponse">
<part name="parameters" element="tns:cancelBookingResponse"/>
</message>
<message name="loginStudent">
<part name="parameters" element="tns:loginStudent"/>
</message>
<message name="loginStudentResponse">
<part name="parameters" element="tns:loginStudentResponse"/>
</message>
<message name="loginTutor">
<part name="parameters" element="tns:loginTutor"/>
</message>
<message name="loginTutorResponse">
<part name="parameters" element="tns:loginTutorResponse"/>
</message>
<message name="completeBooking">
<part name="parameters" element="tns:completeBooking"/>
</message>
<message name="completeBookingResponse">
<part name="parameters" element="tns:completeBookingResponse"/>
</message>
<message name="createBooking">
<part name="parameters" element="tns:createBooking"/>
</message>
<message name="createBookingResponse">
<part name="parameters" element="tns:createBookingResponse"/>
</message>
<message name="getBookings">
<part name="parameters" element="tns:getBookings"/>
</message>
<message name="getBookingsResponse">
<part name="parameters" element="tns:getBookingsResponse"/>
</message>
<message name="getBookingsFromTutor">
<part name="parameters" element="tns:getBookingsFromTutor"/>
</message>
<message name="getBookingsFromTutorResponse">
<part name="parameters" element="tns:getBookingsFromTutorResponse"/>
</message>
<message name="getBookingsFromStudent">
<part name="parameters" element="tns:getBookingsFromStudent"/>
</message>
<message name="getBookingsFromStudentResponse">
<part name="parameters" element="tns:getBookingsFromStudentResponse"/>
</message>
<message name="getTutorsFromSubject">
<part name="parameters" element="tns:getTutorsFromSubject"/>
</message>
<message name="getTutorsFromSubjectResponse">
<part name="parameters" element="tns:getTutorsFromSubjectResponse"/>
</message>
<portType name="BookingSOAP">
<operation name="cancelBooking">
<input wsam:Action="http://Services/BookingSOAP/cancelBookingRequest" message="tns:cancelBooking"/>
<output wsam:Action="http://Services/BookingSOAP/cancelBookingResponse" message="tns:cancelBookingResponse"/>
</operation>
<operation name="loginStudent">
<input wsam:Action="http://Services/BookingSOAP/loginStudentRequest" message="tns:loginStudent"/>
<output wsam:Action="http://Services/BookingSOAP/loginStudentResponse" message="tns:loginStudentResponse"/>
</operation>
<operation name="loginTutor">
<input wsam:Action="http://Services/BookingSOAP/loginTutorRequest" message="tns:loginTutor"/>
<output wsam:Action="http://Services/BookingSOAP/loginTutorResponse" message="tns:loginTutorResponse"/>
</operation>
<operation name="completeBooking">
<input wsam:Action="http://Services/BookingSOAP/completeBookingRequest" message="tns:completeBooking"/>
<output wsam:Action="http://Services/BookingSOAP/completeBookingResponse" message="tns:completeBookingResponse"/>
</operation>
<operation name="createBooking">
<input wsam:Action="http://Services/BookingSOAP/createBookingRequest" message="tns:createBooking"/>
<output wsam:Action="http://Services/BookingSOAP/createBookingResponse" message="tns:createBookingResponse"/>
</operation>
<operation name="getBookings">
<input wsam:Action="http://Services/BookingSOAP/getBookingsRequest" message="tns:getBookings"/>
<output wsam:Action="http://Services/BookingSOAP/getBookingsResponse" message="tns:getBookingsResponse"/>
</operation>
<operation name="getBookingsFromTutor">
<input wsam:Action="http://Services/BookingSOAP/getBookingsFromTutorRequest" message="tns:getBookingsFromTutor"/>
<output wsam:Action="http://Services/BookingSOAP/getBookingsFromTutorResponse" message="tns:getBookingsFromTutorResponse"/>
</operation>
<operation name="getBookingsFromStudent">
<input wsam:Action="http://Services/BookingSOAP/getBookingsFromStudentRequest" message="tns:getBookingsFromStudent"/>
<output wsam:Action="http://Services/BookingSOAP/getBookingsFromStudentResponse" message="tns:getBookingsFromStudentResponse"/>
</operation>
<operation name="getTutorsFromSubject">
<input wsam:Action="http://Services/BookingSOAP/getTutorsFromSubjectRequest" message="tns:getTutorsFromSubject"/>
<output wsam:Action="http://Services/BookingSOAP/getTutorsFromSubjectResponse" message="tns:getTutorsFromSubjectResponse"/>
</operation>
</portType>
<binding name="BookingSOAPPortBinding" type="tns:BookingSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cancelBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginTutor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="completeBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookingsFromTutor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookingsFromStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTutorsFromSubject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BookingSOAP">
<port name="BookingSOAPPort" binding="tns:BookingSOAPPortBinding">
<soap:address location="http://localhost:8080/TutorMe/BookingSOAP"/>
</port>
</service>
</definitions>