web/WEB-INF/wsdl/localhost_8080/TutorMe/BookingSOAP.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Services/">

<xs:element name="booking" type="tns:booking"/>

<xs:element name="bookings" type="tns:bookings"/>

<xs:element name="cancelBooking" type="tns:cancelBooking"/>

<xs:element name="cancelBookingResponse" type="tns:cancelBookingResponse"/>

<xs:element name="completeBooking" type="tns:completeBooking"/>

<xs:element name="completeBookingResponse" type="tns:completeBookingResponse"/>

<xs:element name="createBooking" type="tns:createBooking"/>

<xs:element name="createBookingResponse" type="tns:createBookingResponse"/>

<xs:element name="fetchBookings" type="tns:fetchBookings"/>

<xs:element name="fetchBookingsResponse" type="tns:fetchBookingsResponse"/>

<xs:element name="getBookingsFromStudent" type="tns:getBookingsFromStudent"/>

<xs:element name="getBookingsFromStudentResponse" type="tns:getBookingsFromStudentResponse"/>

<xs:element name="getBookingsFromTutor" type="tns:getBookingsFromTutor"/>

<xs:element name="getBookingsFromTutorResponse" type="tns:getBookingsFromTutorResponse"/>

<xs:element name="getTutorsFromSubject" type="tns:getTutorsFromSubject"/>

<xs:element name="getTutorsFromSubjectResponse" type="tns:getTutorsFromSubjectResponse"/>

<xs:element name="loginStudent" type="tns:loginStudent"/>

<xs:element name="loginStudentResponse" type="tns:loginStudentResponse"/>

<xs:element name="loginTutor" type="tns:loginTutor"/>

<xs:element name="loginTutorResponse" type="tns:loginTutorResponse"/>

<xs:element name="student" type="tns:student"/>

<xs:element name="tutor" type="tns:tutor"/>

<xs:complexType name="createBooking">
<xs:sequence>
<xs:element name="arg0" type="tns:tutor" minOccurs="0"/>
<xs:element name="arg1" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tutor">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="birthday" type="xs:string" minOccurs="0"/>
<xs:element name="userType" type="xs:string" minOccurs="0"/>
<xs:element name="subject" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="student">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="birthday" type="xs:string" minOccurs="0"/>
<xs:element name="userType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBookingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTutorsFromSubject">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTutorsFromSubjectResponse">
<xs:sequence>
<xs:element name="return" type="tns:tutor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="completeBooking">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="completeBookingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBookingsFromStudent">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsFromStudentResponse">
<xs:sequence>
<xs:element name="return" type="tns:bookings" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookings">
<xs:sequence>
<xs:element name="booking" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="booking">
<xs:sequence>
<xs:element name="bookingID" type="xs:int"/>
<xs:element name="tutorName" type="xs:string" minOccurs="0"/>
<xs:element name="tutorEmail" type="xs:string" minOccurs="0"/>
<xs:element name="subject" type="xs:string" minOccurs="0"/>
<xs:element name="studentName" type="xs:string" minOccurs="0"/>
<xs:element name="studentEmail" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchBookings">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchBookingsResponse">
<xs:sequence>
<xs:element name="return" type="tns:bookings" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelBooking">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelBookingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="loginTutor">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginTutorResponse">
<xs:sequence>
<xs:element name="return" type="tns:tutor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsFromTutor">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsFromTutorResponse">
<xs:sequence>
<xs:element name="return" type="tns:bookings" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginStudent">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginStudentResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>